<div class='modal signup-modal' id = 'signup-modal' tabindex='-1' role='dialog' aria-labelledby='signupModallLabel' aria-hidden='true'>
  <div class='modal-dialog modal-lg'>
    <div>
      <div class='panel panel-default'>
        <div class="panel-heading"><span>Nuryl Registration</span>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
        </div>
        <div class='panel-body'>
          <div class='col-lg-12 col-md-12 col-sm-12'>
            <%= form_tag api_v1_user_registration_path, method:'post', class:'form-horizontal', id: 'user_registration_form', html: {autocomplete: "off"} do %>
                <%= hidden_field_tag :user_type, @user_type %>
                <div class="col-frm-hide">

                  <%if @user_type == 'gift'%>
                      <div class="form-group">
                        <label for='input_first_name' class='col-sm-3 control-label'>Gifter’s First Name</label>
                        <div class="col-sm-9">
                          <%= text_field_tag "gifter_first_name", nil, class:'form-control',
                                             id: 'input_gifter_first_name', placeholder: 'Gifter First name', required: true%>
                        </div>
                      </div>

                      <div class="form-group">
                        <label for='input_first_name' class='col-sm-3 control-label'>Gifter’s Last Name</label>
                        <div class="col-sm-9">
                          <%= text_field_tag "gifter_last_name", nil, class:'form-control',
                                             id: 'input_gifter_last_name', placeholder: 'Gifter Last name', required: true%>
                        </div>
                      </div>

                      <div class="form-group">
                        <label for='input_first_name' class='col-sm-3 control-label'>Gifter’s Email</label>
                        <div class="col-sm-9">
                          <%= email_field_tag "gifter_email", nil, class:'form-control',
                                             id: 'input_gifter_email', placeholder: 'Gifter Email', required: true%>
                        </div>
                      </div>

                  <%end%>


                  <div class="form-group">
                    <label for='input_first_name' class='col-sm-3 control-label'>First Name</label>
                    <div class="col-sm-9">
                      <%= text_field_tag "f_name", nil, class:'form-control',
                                       id: 'input_first_name', placeholder: 'First name', required: true%>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for='input_last_name' class='col-sm-3 control-label'>Last Name</label>
                    <div class="col-sm-9">
                      <%= text_field_tag  "l_name", nil, class:'form-control',
                                       id: 'input_last_name', placeholder: 'Last name', required: true%>
                    </div>
                  </div>
                  <div class="form-group">
                  <div><label for='error_email' class='col-sm-3 error-email-label'></label></div>
                  </div>

                  <div class="form-group">
                    <label for='input_email' class='col-sm-3 control-label'>Email</label>
                    <div class="col-sm-9">
                      <%= email_field_tag "email", nil, class:'form-control',
                                        id: 'input_email', placeholder: 'Please enter a valid email for your username', required: true,  autocomplete: :off %>
                    </div>
                  </div>
                  <div class='form-group'>
                    <label for='input_password' class='col-sm-3 control-label'>Password <span style="text-transform: none" class="glyphicon glyphicon-question-sign blck reg-usr" aria-hidden="true"  data-placement="right" title="Minium 8 characters"></span></label>
                    <div class="col-sm-9">
                      <%= password_field_tag "password", nil, class:'form-control registration_input_password',
                                           id: 'input_password', placeholder: "Minium 8 characters", required: true, minlength: 8 %>
                    </div>
                  </div>
                  <div class='form-group'>
                    <label for='input_zipcode' class='col-sm-3 control-label'>Baby Name</label>
                    <div class="col-sm-9">
                      <%= text_field_tag "baby_name", nil, class:'form-control',
                                       id: 'input_zipcode', placeholder: 'Baby Name', required: true%>
                    </div>
                  </div>


              <div class="form-group">
                <label for='inputEmail3' class='col-sm-3 control-label'>Relationship</label>
                <div class="col-sm-9">
                  <%= select_tag "relationship", "<option>Mother</option><option>Father</option><option>Guardian</option>".html_safe,{class: "form-control input-small"} %>
                </div>
              </div>


              <div class='form-group'>
                <label for='input_zipcode' class='col-sm-3 control-label'>DOB</label>
                <div class="col-sm-9">
               <div class="input-group date">
                <%= text_field_tag "dob", nil, class:'form-control clndr-cls', id: 'dob', placeholder: 'Your Baby Projected DOB', required: true, readonly: true%><span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
               </div>
                </div>
              </div>

              <div class='form-group'>
                <label for='input_zipcode' class='col-sm-3 control-label'>zip code</label>
                <div class="col-sm-9">
                  <%= text_field_tag "zipcode", nil, class:'form-control',
                                     id: 'input_zipcode', placeholder: 'Zip code'%>
                </div>
              </div>

              <div class="form-group">
                <div class="col-sm-offset-5 col-sm-9 gts-trd-btn">
                  <%= button_tag(type: 'submit', class: "btn btm-sm-pri btn-primary sign-up-button") do %>
                      <span class="gtsrt-icon"></span> <span >Sign-Up</span>
                  <% end %>
                </div>
              </div>
                </div>
                </div>
            <%end%>
            </div>
      </div>
    </div>
  </div>
</div>