<title>Change Password</title>
<div class="page-fixed page-background">
  <div class="page-content-inner">
    <div class="form-wrapper">
      <div class="logo">
        <!-- <img src="assets/logo.png" alt=""> -->
        <img src="/assets/logo_middle.png" alt="">
        <!-- <span>NURYL</span> -->
      </div>
      <div class="tabs">
        <div id="login-tab" class="tab login-tab active">
          <%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put }) do |f| %>
              <div class="form-row"></div>
              <%= devise_error_messages! %>
              <div class="message"><%= flash[:notice] %></div>
              <%=f.hidden_field(:reset_password_token)%>
              <div class="form-row">
                <%= f.password_field :password, autocomplete: "off", placeholder: 'Password' %>
              </div>
              <div class="form-row">
                <%= f.password_field :password_confirmation, autocomplete: "off", placeholder: 'Confirm Password' %>
              </div>
              <div class="submit-wrapper">
                <%= button_tag(type: 'submit', class: "button submit-button") do %>
                    <span >Change my password <img src="/assets/arrow_right.png" alt="" width="18px"> </span>
                <% end %>
              </div>
          <%end%>
        </div>
      </div>
    </div>
  </div>
</div>


