<title>Change Password</title>
<div class="rkv_form_wrapper" id= 'reset-password-form'>
  <h1 style="color: #8A8989">&nbsp;</h1>
  <h1>Change Password</h1>
  <div class="rkv_form_container" >
    <div class="rkv_form create_account">
      <%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put }) do |f| %>
          <%= devise_error_messages! %>
          <div class="message"><%= flash[:notice] %></div>
          <%=f.hidden_field(:reset_password_token)%>
          <div class="rkv_row">
            <%= f.password_field :password, autocomplete: "off", placeholder: 'Password' %>
          </div>
          <div class="rkv_row">
            <%= f.password_field :password_confirmation, autocomplete: "off", placeholder: 'Confirm Password' %>
          </div>
          <div class="rkv_row">
            <%= button_tag(type: 'submit', class: "rkv_button sign-up-button") do %>
                <span >Change my password </span>
            <% end %>
          </div>
      <%end%>
    </div>
  </div>
</div>




