
<div class="rkv_wrapper">
  <div class="rkv_form_wrapper" id= 'sign-in-form' style = 'display:none'>
    <h1 style="color: #8A8989">&nbsp;</h1>
    <h1>Sign in</h1>
    <div class="rkv_form_container" >
      <div class="rkv_form login">
        <div class="message"><%= flash[:message] %></div>
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

          <div class="rkv_row">
            <%= f.email_field :email, style:"background-position: 15px 10px", class:"rkv_input_icon rkv_email",  autofocus: true , placeholder: 'Email', required: true%>
          </div>
          <div class="rkv_row">
            <%= f.password_field :password, style:"background-position: 15px -75px", class:"rkv_input_icon rkv_password", autocomplete: "off", placeholder: 'Password', required: true %>
          </div>

          <div class="rkv_row">
            <%= button_tag(type: 'submit', class: "rkv_button") do %>
                <span >Login </span>
            <% end %>
          </div>
       <%end%>
        <p class="rkv_terms" id = 'sign-up-link'><a href="#">Sign-up</a></p>
      </div>
    </div>

  </div>

  <%= render partial: 'registrations/new', locals: { user: User.new } %>

</div>


<style type="text/css">
    header.rkv-header {
        background-image: none;
    }
</style>



<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/fastclick/1.0.6/fastclick.js"></script>





