<div class="page-fixed page-background">
  <div class="page-content-inner">
    <div class="form-wrapper">
      <div class="logo">
        <!-- <img src="assets/logo.png" alt=""> -->
        <img src="assets/logo_middle.png" alt="">
        <!-- <span>NURYL</span> -->
      </div>
      <div id="tab-links" class="tab-links" data-name="login">
        <a href="#login-tab" class="tab-link login-tab-link active" data-name="login">
          <img src="assets/login.png" alt="" width="45px">
          <span class="label">Login</span>
        </a>
        <a href="#signup-tab" class="tab-link signup-tab-link" data-name="signup">
          <img src="assets/signup.png" alt="" width="57px">
          <span class="label">Signup</span>
        </a>
      </div>
      <div class="tabs">
        <div id="login-tab" class="tab login-tab active">
          <div class="message"><%= flash[:message] %></div>
          <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>


            <div class="form-row">
              <%= f.email_field :email, autofocus: true , placeholder: 'Email', required: true%>
            </div>
            <div class="form-row">
              <%= f.password_field :password, autocomplete: "off", placeholder: 'Password', required: true %>
            </div>
            <div class="submit-wrapper">
              <%= button_tag(type: 'submit', class: "button submit-button") do %>
                  <span >Login <img src="assets/arrow_right.png" alt="" width="18px"> </span>
              <% end %>
            </div>
          <%end%>
        </div>
        <div id="signup-tab" class="tab signup-tab">
          <%= render partial: 'registrations/new', locals: { user: User.new } %>
        </div>
        </div>
    </div>
  </div>
</div>


<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/fastclick/1.0.6/fastclick.js"></script>





