<div class="rkv_wrapper" id = 'payment_form' style = 'display: none'>
  <div class="rkv_form_wrapper  rkv_checkout">
    <h1>Checkout</h1>
    <div class="rkv_col2">
      <div class="rkv_form_container">
        <div class="rkv_form">
          <%= form_tag subscripe_api_transactions_path, method:'post', class:'form-horizontal', id: 'stripe_registration' do %>
              <%= hidden_field_tag :html_format, true %>
              <%= hidden_field_tag :user_type, @user_type %>
              <%= hidden_field_tag :card_id %>
              <%= hidden_field_tag :auth_token, @auth_token%>
              <%= hidden_field_tag :subscription_type, @subscription_type%>
              <%= hidden_field_tag :amount, @amount%>
              <div id="stripe_error">
                <div class="message">
                  <%= flash[:message] %>
                  <noscript>JavaScript is not enabled and is required for this form. First enable it in your web browser settings.</noscript>
                </div>
              </div>

            <div class="rkv_row">
              <%= text_field_tag :f_name, @user.f_name, disabled: true, placeholder:"First Name"%>
            </div>
            <div class="rkv_row">
              <%= text_field_tag :f_name, @user.l_name, disabled: true, placeholder:"First Name"%>
            </div>
            <div class="rkv_row">
              <%= text_field_tag :card_number, nil, name: nil, placeholder: "Credit Card #", required: true%>
            </div>
            <div class="rkv_row" style="margin: 6px 0 26px">
              <label class="rkv_field_title" style="margin-right: 11px; line-height: 45px; text-indent: 15px;">Expiration Date</label>
              <div class="rkv_select_container wide">
                <%= select_month nil, {add_month_numbers_true: true}, {name: nil, id: "card_month", class: 'rkv_select'}%>
                <%= select_year nil, {start_year: Date.today.year, end_year: Date.today.year+15}, {name: nil, id: "card_year", class: 'rkv_select'}%>
                <%= text_field_tag :card_code, nil, name: nil,  placeholder: "CVV", style:"width:100px; padding:5px; border:1px solid #999; line-height:33px;", required: true %>
              </div>
            </div>
            <div class="rkv_row">
              <%= button_tag(type: 'submit' , class: "rkv_button submit-button payment-btn") do %>
                  <span >Continue</span>
              <% end %>
            </div>
          <%end%>
        </div>
      </div>
    </div>
    <div class="rkv_col2">
      <div class="rkv_subscription_table">
        <div class="rkv_items_list_container">
          <ul>
            <li><span class ='rkv_susbcription_title'></span> <span class="rkv_price"></span></li>
          </ul>
        </div>
        <div class="rkv_total_price">
          <div class="total_text_label">Total:</div>
          <div class="rkv_total_amount"></div>
        </div>
      </div>
    </div>
  </div>
</div>





<%= javascript_include_tag "transactions" %>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/fastclick/1.0.6/fastclick.js"></script>
