<div class="rkv_wrapper">
  <div class="rkv_form_wrapper  rkv_checkout">
    <h1>Update Card Details</h1>
    <div class="rkv_col2">
      <div class="rkv_form_container">
        <div class="rkv_form">
          <%= form_tag update_card_transactions_path, method:'put', class:'form-horizontal', id: 'subscription_payment_form' do %>
              <%= hidden_field_tag :card_id %>
              <%= hidden_field_tag :payment_gateway_type, @payment_gateway_type || 'stripe'%>
              <div id="payment_error">
                <div class="message">
                  <%= flash[:message] %>
                  <noscript>JavaScript is not enabled and is required for this form. First enable it in your web browser settings.</noscript>
                </div>
              </div>
              <div id="payment_type_div">
                <%= render partial: 'transactions/stripe_payment_form' %>
              </div>
          <%end%>
        </div>
      </div>
    </div>

  </div>
</div>

<style type="text/css">
    body {
        background-image: none;
    }
</style>

<%= javascript_include_tag "transactions" %>
<%= javascript_include_tag "stripe" %>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/fastclick/1.0.6/fastclick.js"></script>