<%= form_tag subscripe_api_transactions_path, method:'post', class:'form-horizontal', id: 'stripe_registration' do %>

    <div class="module form-module payment_form">
      <div class="payment-head" >
        <h2 class="panel-title display-td payment_lbl"> Payment Details</h2>
        <div class="display-td" >
          <img class="img-responsive" src="http://i76.imgup.net/accepted_c22e0.png">
        </div>
      </div>
    <% if @subscription.errors.any? %>
        <div class="error_messages">
          <h2><%= pluralize(@subscription.errors.count, "error") %> prohibited this subscription from being saved:</h2>
          <ul>
            <% @subscription.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>
      <%= hidden_field_tag :user_type, @user_type %>

    <%= hidden_field_tag :card_id %>
    <%= hidden_field_tag :auth_token, @auth_token%>

      <div id="stripe_error">
        <div class="message">
          <%= flash[:message] %>
            <noscript>JavaScript is not enabled and is required for this form. First enable it in your web browser settings.</noscript>
        </div>
      </div>



      <div class="form-group">
        <label for='input_email' class='col-sm-4 control-label'>Credit Card Number</label>
        <div class="col-sm-7">
            <%= text_field_tag :card_number, nil, name: nil %>
        </div>
      </div>

      <div class="form-group">
        <label for='input_email' class='col-sm-4 control-label'>Security Code on Card (CVV)</label>
        <div class="col-sm-7">
            <%= text_field_tag :card_code, nil, name: nil %>
       </div>
     </div>

      <div class="form-group">
        <label for='input_email' class='col-sm-4 control-label'>Card Expiration</label>
        <div class="col-sm-7">
            <%= select_month nil, {add_month_numbers_true: true}, {name: nil, id: "card_month"}%>
            <%= select_year nil, {start_year: Date.today.year, end_year: Date.today.year+15}, {name: nil, id: "card_year"}%>
        </div>
     </div>

      <%if @user_type == 'beta'%>
          <div class="form-group">
          <label for='inputEmail3' class='col-sm-4 control-label'>Subscription Plan</label>
          <div class="col-sm-7">
          <%= text_field_tag :subscription_type, 'Beta', name: 'subscription_type', id: 'input_subscription_type', readonly:true %>
          </div>
          </div>
     <%else %>
      <div class="form-group">
        <label for='inputEmail3' class='col-sm-4 control-label'>Subscription Plan</label>
        <div class="col-sm-7">
          <%= select_tag "subscription_type", "<option>Monthly</option><option>Yearly</option>".html_safe,{class: "form-control input-small subscription_type"} %>
        </div>
      </div>
      <%end%>

      <div class="form-group">
        <label for='input_email' class='col-sm-4 control-label'>Amount</label>
        <div class="col-sm-7">
          <%= text_field_tag :amount, nil, name: nil, id: 'input_sub_amount', readonly:true %>
        </div>
      </div>

      <div class="form-group">
        <div class="col-sm-offset-4 col-sm-5 gts-trd-btn">
            <%= button_tag(type: 'button', class: "btn btm-sm-pri btn-primary actions payment-btn") do %>
                <span class="gtsrt-icon"></span> <span >Subscribe</span>
            <% end %>
          </div>
        </div>
      <div class="form-group">
        </div>
      </div>
<% end %>
