<div class="rkv_wrapper" id = 'plan_select_form'>
  <div class="rkv_section rkv_video_section">
    <h2 class="rkv_headding">
      Unlock the Nuryl Playlist
    </h2>
      <div class="rkv_col2">
        <div class="rkv_video_container">
          <iframe src="https://player.vimeo.com/video/158950941" width="500" height="286" frameborder="0" title="Nuryl How-To 2.0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
        </div>
      </div>

      <div class="rkv_col2">
        <ul class="rkv_list_items">
          <li>Get a New Playlist Every Month Specifically Designed Specifically for Your Baby's Date of Birth</li>
          <li>29 Playlists, Nearly 600 Musical Pieces</li>
          <li>HALF of the Nuryl Playlists Are Comprised of Pieces That Were Created ONLY for Nuryl and Can't Be Found Anywhere</li>
          <li>Mini Music Lessons Built-in to the Playlists</li>
          <li>Track Your Baby's Daily, Weekly, and Monthly Listening</li>
        </ul>
      </div>
  </div>
  <div class="rkv_section rkv_offers_section">
    <h1 class="rkv_headding">Choose Your Plan Now</h1>
    <div class="rkv_services_container">
      <%unless @plan.nil?%>
       <%@plan.reverse.each do |plan|%>
          <div class="rkv_col3">
            <%if plan[2] == 'Beta'%>  <div class="rkv_offer_text"><span>Most Popular</span></div> <%end%>
            <h2 class="rkv_plan_name"><%=plan[0]%></h2>
            <%if plan[2] == 'Beta' || plan[2] == 'Gift'%>
                <p class="rkv_plan_price"><span class="rkv_old_price">$119.88</span><span class="nuryl_price rkv_new_price"><%=plan[1]%></span></p>
            <%else%>
            <p class="rkv_plan_price"><span class="rkv_price nuryl_price"><%=plan[1]%>
            <%end%>
            <%if plan[2] == 'Monthly'%>/<sub>Month</sub>
            </span></p>
            <p class="rkv_plan_details">Subscribe to Nuryl with a monthly plan and have full access to the entire catalog of playlists.</p>

            <%elsif plan[2] == 'Beta'%>
                <p class="rkv_plan_details">Subscribe for a full year and save big! Unlock the playlists now.</p>

            <%elsif plan[2] == 'Gift'%>
                <p class="rkv_plan_details">Give the gift of Nuryl to a family member of friend. Nuryl is a gift that will last a lifetime.</p>
            <%end%>
            <a href="#" class="rkv_choose_plan rkv_button">Choose Plan</a>
          </div>
       <%end%>
      <%end%>
    </div>
  </div>
</div>

<%= render partial: 'transactions/payment_form' %>


<%= javascript_include_tag "transactions" %>

<style type="text/css">
    header.rkv-header {
        url('/assets/header-background.jpg');
    }
    body {
        background-image: none;
    }

</style>

