<header class="rkv-header">
  <div class="rkv-search-bar">
    <div class="rkv_wrapper">
      <form>
        <div class="rkv-input-wrapper">
          <input type="text" placeholder="search">
          <div class="rkv-close-btn"></div>
        </div>
      </form>
    </div>
  </div>
  <div class="rkv-menu-bar">
    <div class="rkv_wrapper">
      <div class="rkv-logo-section">
        <a href="https://nuryl.com">
          <img class="rkv-logo1" src="/assets/logo.png">
          <img class="rkv-logo2" src="/assets/logo-2.png">
        </a>
      </div>
      <div class="rkv-responsive-search-button"></div>
      <div class="rkv-responsive-menu-button"></div>
      <div class="rkv-menu-section">

        <% header_tabs = HTTParty.get('https://www.nuryl.com/wp-json/wp-api-menus/v2/menu-locations/main_navigation') %>
        <ul>
          <% header_tabs.each do |header| %>
            <% if header["children"].present? %>
              <li>
                <div class="dropdown">
                  <%= button_to "#{header["title"]}", header["url"],{class:"dropbtn"}%>
                  <div class="dropdown-content">
                    <ul class="sub-menu">
                      <% header["children"].each do |clild| %>
                        <li><a href="<%= clild["url"]%>"><%= clild["title"] %></a></li>
                      <% end %>
                    </ul>
                  </div>
                </div>
              </li>
            <% else %>
              <li><a href="<%= header["url"]%>"  class=""><%= header["title"]%></a></li>
            <% end %>
          <% end %>
          <% if user_signed_in? %>
            <li>
              <div class="dropdown">
                <%= button_to "Hi #{current_user.f_name}","#",{class:"dropbtn"}%>
                <div class="dropdown-content">
                  <ul class="sub-menu">
                    <li>
                        <%if current_user.account_type("STRIPE") %>
                            <%= link_to '<span class="glyphicon glyphicon-envelope" aria-hidden="true"></span> <span class="mrg-left-3">Update Card</span><i class="icon-arrow-right"></i>'.html_safe, change_card_details_transactions_path %>
                        <%end%>
                    </li>
                    <li><a href="<%= edit_user_path(current_user) %>">Edit Account</a></li>
                    <li><a href="<%= user_path(current_user) %>">Account</a></li>
                    <li><%= button_to "Log out", destroy_user_session_path,{method: :delete,class:"hidden-menu logout"}%></a></li>
                  </ul>
                </div>
              </div>
            </li>
          <%end%><!-- 
          <li><a href="http://www.nuryl.com" class="rkv-search"></a></li> -->
        </ul>
      </div>
    </div>
  </div>
</header>